<div class="app-wrapper">
  <div class="blob b1"></div>
  <div class="blob b2"></div>

  <main class="glass-card">
    <header>
      <span class="status-badge">Think quick. Buzz quicker.</span>
     <h1 class="main-title">
  <span class="letter l1">B</span>
  <span class="letter l2">U</span>
  <span class="letter l3">Z</span>
  <span class="letter l4">Z</span>
  <span class="letter l5">I</span>
  <span class="letter l6">N</span>
  <span class="letter l7">G</span>
  <span class="letter l8">A</span>
</h1>
    </header>

    <div class="buzzer-container">
      <button class="pill-btn" (click)="startApp()">
        <span class="text">READY</span>
      </button>
    </div>
  </main>
</div>